{% assign strings = site.data[page.strings] %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />

	<title>{{ strings.title }}</title>

	<link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}/favicon.ico" type="image/x-icon">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}{{ site.baseurl }}/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}{{ site.baseurl }}/favicon-16x16.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}{{ site.baseurl }}/apple-touch-icon.png">
	<link rel="manifest" href="{{ site.url }}{{ site.baseurl }}/site-{{ page.strings }}.webmanifest">

	<meta name="theme-color" content="#ffffff">

	<meta name="description" content="{{ strings.description }}" />
	<meta name="author" content="ovgamesdev" />
	<meta name="keywords" content="{{ strings.keywords }}" />
	<link rel="canonical" href="{{ site.url }}{{ page.baseurl }}">

	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ strings.title }}" />
	<meta property="og:description" content="{{ strings.description }}" />
	<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}/" /> 
	<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/images/preview.jpg" /> 
	<meta property="og:site_name" content="{{ strings.title }}" />
	<meta property="og:locale" content="{{ strings.locale }}" />
	<meta property="og:locale:alternate" content="{{ strings.locale_alternate }}" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="{{ strings.title }}" />
	<meta name="twitter:description" content="{{ strings.description }}" />
	<meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/images/preview.jpg" />

	<!-- Имя приложения при установке на экран -->
	<meta name="apple-mobile-web-app-title" content="{{ strings.title }}">
	<meta name="application-name" content="{{ strings.title }}">
	<!-- Скрытие элементов интерфейса браузера (режим Standalone) -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<!-- Стиль статус-бара на iOS -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	<!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" /> -->
	<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/main.css?v={{ site.time | date: '%s' }}">

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y2CTVYR0BB"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-Y2CTVYR0BB');
	</script>
</head>
<body>
	<div id="map"></div>

	<div id="imgModal" class="image-modal" onclick="this.style.display='none'">
		<img id="modalImg" src="" alt="Full view">
	</div>

	<!-- <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script> -->
	<script>
		// Записываем данные в глобальный объект window
		window.MAP_DATA = {
			ui: {{ strings.ui | jsonify }},
			crates: {{ strings.crates | jsonify }},
			url: "{{ site.url }}",
			baseurl: "{{ site.baseurl }}",
			lang: "{{ page.strings }}",
			buildVer: "{{ site.time | date: '%s' }}"
		};
	</script>
	<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js?v={{ site.time | date: '%s' }}"></script>
</body>
</html>